/* Style Guide

colors:
bubblegum: EE729F or rgba(238,114,159,1.0)
gooey mint: #16FFBD or rgba(22,255,189,1.0)
gray: 828282 or rgba(130,130,130,1.0);
black: #000 or rgba(0,0,0,1.0);
white: #fff or rgba(255,255,255,1.0);


fonts: 
Body
font-family: 'Droid Sans', sans-serif;
Titles
font-family: 'Playfair Display', serif;
*/
/*UNIVERSALS 
********************/
body {
	font-family: 'Droid Sans', sans-serif;
}

p {
	text-align: justify;
}

i {
	color: #16FFBD;
}

/* navigation styles 
********************/
.navMine, 
footer.page-footer {
	background-color: #EE729F;
}

/*Base Container Styles */
/*
.intro,
.skills,
.portfolio,
.photo,
.misc {
	display: block;
}*/
/* Intro block 
********************/
.navMine a {
	padding-left: .5em;
	line-height: 2em;
	letter-spacing: 0.05em;
}

/* Intro block 
********************/
.intro {
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	padding: 1em 2em 2em 2em;
	line-height: 2.5em;
	letter-spacing: .05em;
	word-spacing: .155em;
	text-align: justify;
}

.highlight {
	color: #16FFBD;
}

/* skills block 
********************/

.statementText {
	color: #EE729F;
	background-color: #16FFBD;
	padding: .5em 2em .5em 2em;
	font-family: 'Playfair Display', serif;
	text-align: justify;
	line-height: 1.2em;
	letter-spacing: -0.00em;
	word-spacing: .04em;
}

.skills p {
	margin: auto .9em auto auto;
}
.skillsHeader {
	letter-spacing: -0.04em;
}
/* projects
*******************/
.projects p {
	margin: auto 2em auto auto;
}
.projects h3 {
	letter-spacing: -0.04em;
	margin-top: 2em;
}

.projects ul:nth-of-type(odd) {
	text-align: left;
	margin: 0;
}
.projects ul:nth-of-type(even) { /*not working */
	text-align: left;
	margin: 0;
}

.portfolioImage {
	max-width: 500px;
	max-height: 500px;
}

.projectsFA {
	text-align: center;
}

.honors h4 {
	padding: auto .2em;
}

.honors p{
	margin: auto 3em;
	text-align: center;
}
.honors .fa {
	color: #EE729F;
	font-size: 3em;
	margin: auto .2em;
}



/* honors 
*******************/

.honors {
	background-color: #16FFBD;
	padding: .5em 0 .5em .5em;
	text-align: justify;
	border-bottom: 10px solid #EE729F;
}

/* honors 
*******************/

.page-footer a {
	color:  #16FFBD;
}

.page-footer i {
	padding-right: .6em;
	font-size: 1.5em;
}



/* Parallax 
*******************/
.parallax-window {
    min-height: 400px;
    background: transparent;
    margin-bottom: -5em;
}

