/* Style Guide

colors:
bubblegum: EE729F or rgba(238,114,159,1.0)
gooey mint: #16FFBD or rgba(22,255,189,1.0)
gray: 828282 or rgba(130,130,130,1.0);
black: #000 or rgba(0,0,0,1.0);
white: #fff or rgba(255,255,255,1.0);


fonts: 
Body
font-family: 'Droid Sans', sans-serif;
Titles
font-family: 'Playfair Display', serif;
*/
/*UNIVERSALS 
********************/
body {
	font-family: 'Droid Sans', sans-serif;
}

p {
	text-align: justify;
}

i {
	color: #16FFBD;
}

/* navigation styles 
********************/
.navMine, 
footer.page-footer {
	background-color: #EE729F;
}

/*Base Container Styles */
/*
.intro,
.skills,
.portfolio,
.photo,
.misc {
	display: block;
}*/
/* Intro block 
********************/
.intro {
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	padding: 1em 2em 2em 2em;
}

.highlight {
	color: #16FFBD;
}

/* skills block 
********************/

.statementText {
	color: #EE729F;
	background-color: #16FFBD;
	padding: 1em 2em 2em 2em;
	font-family: 'Playfair Display', serif;
}

h2 {

}

/* honors 
*******************/

.honors {
	background-color: #16FFBD;
	padding: .5em 0 .5em .5em;
	text-align: justify;
	border-bottom: 10px solid #EE729F;
}

/* Parallax 
*******************/
.parallax-window {
    min-height: 400px;
    background: transparent;
    margin-bottom: -5em;
}

