/* Style Guide

colors:
bubblegum: EE729F or rgba(238,114,159,1.0)
gooey mint: #16FFBD or rgba(22,255,189,1.0)
gray: 828282 or rgba(130,130,130,1.0);
black: #000 or rgba(0,0,0,1.0);
white: #fff or rgba(255,255,255,1.0);


fonts: 
Body
font-family: 'Droid Sans', sans-serif;
Titles
font-family: 'Playfair Display', serif;
*/
/*UNIVERSALS 
********************/
body {
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
}

p {
	text-align: justify;
}

i {
	color: #16FFBD;
}

a {
	color: #EE729F;
}

/* navigation styles 
********************/
.navMine, 
footer.page-footer {
	background-color: #EE729F;
}

/*Base Container Styles */
/*
.intro,
.skills,
.portfolio,
.photo,
.misc {
	display: block;
}*/
/* Intro block 
********************/
.navMine a {
	padding-left: .5em;
	margin: 0 .5rem;
	line-height: 2em;
	letter-spacing: 0.05em;
}

.navMine li:hover {
	background-color: #EE729F;	
}
.navMine li:last-of-type {
	margin-right: 1rem;
}
#portfolio-navigation a:hover{
	border-bottom: solid .1rem #16FFBD;
	
}


/* Intro block 
********************/
.intro {
	z-index: 9999;
	font-family: 'Playfair Display', serif;
	font-size: 1.3em;
	padding: 1em;
	margin-bottom: -2em;
	line-height: 2.5em;
	letter-spacing: -0.15em;
	word-spacing: .155em;
	text-align: left;
	background: linear-gradient(rgba(238,114,159,1), rgba(238,114,159,0.7), rgba(130,130,130,0.7), transparent 100%),
              linear-gradient(0deg, #828282, transparent),
              #8E2800 url('../images/bgtrees.jpg') no-repeat center;  	
	background-size: cover;
}

.highlight {
	color: #16ffbd;
}

.highlight .col{
	margin-right: 2em;
}

.highlight li {
	list-style-type: square;
	color: #828282;
	list-style-position: inside;
}

.highlight h4 {
	color: #828282;
}

/* skills block 
********************/

.statementText {
	box-sizing: border-box;
	color: #EE729F;
	background-color: #16FFBD;
	padding: .5em 2em .5em 1.3em;
	font-family: 'Playfair Display', serif;
	text-align: justify;
	line-height: 1.2em;
	letter-spacing: -0.00em;
	word-spacing: .04em;
}


.skills {
	padding-top: 0;
}
.skills p {
	margin: auto .9em auto auto;
}
.skillsHeader {
	letter-spacing: -0.04em;
}

.skills h5 {
	color: #EE729F;
}
.faves-header i {
	padding: .5rem;
	font-size: 1.6rem;
	color: #828282;
}
.faves-header i:first-of-type {
	opacity: 0.3;
}
.faves-header i:nth-of-type(2n) {
	opacity: 0.6;
}
.faves-header i:last-of-type {
	opacity: 0.9;
}
/* projects
*******************/

.projects p {
	margin: auto 2em auto auto;
}
.projects h3 {
	letter-spacing: -0.04em;
	margin-top: 2em;
}

.projects ul {
	text-align: left;
	margin: 0;
}

.portfolioImageContainer {
	width: 100%;
}
.portfolioImage {
	width: 100%;
	
}
.portfolioLinksContainer {
	width: 100%;
	display: inline-block;
	float: left;
}
.projectsFA {
	font-size: 1.8em;
	padding: .5em;
	color: #EE729F;
	float: left;
}

.fa-github-alt:hover {
	color: #6cc644;
}
.fa-desktop:hover {
	color: #16FFBD;
}


.honors h3 {
	padding: 0 1em;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
}
.honors h5 {
	padding: .3em .3em;
	text-align: left;
}

.honors p{
	margin: auto .5em;
	text-align: left;
}
.honors .fa {
	color: #EE729F;
	font-size: 2em;
	margin: .5em .2em;
	vertical-align: bottom;
}
.honors .fa-github-alt:hover {
	color: #6cc644;
}
.honors .fa-desktop:hover {
	color: #fff;
}



/* honors 
*******************/

.honors {
	background-color: #16FFBD;
	padding: .5em 0 .5em .5em;
	text-align: justify;
	border-bottom: 10px solid #EE729F;
}

/* Misc section
*******************/
.misc h5 {
	border-bottom: solid .1rem #828282;
	margin-right: 5rem;
}
.misc li {
	list-style-type: square;
	list-style-position: inside;
	color: #828282;
}

/* Contact section
*******************/

.page-footer a {
	color:  #fff;
}
.page-footer a:hover{
	color: #16FFBD;
}

.page-footer i {
	padding-right: .6em;
	font-size: 1.5em;
}
/* Contact Me Section */
.external-link li .fa{
	transition: color 1s;
}
.external-link li .fa:hover{
	color: default;
	border-bottom: none;
}
.external-link li i {
	color: #16FFBD;
}





.portrait {
	width: 100%;
	margin: 1em 0;
	text-align: center;
 }
 	#imageFlip{	
		width: 175px;
		height: 175px;
		margin: 0 auto;
		border-radius: 50%;
		display: block;
		background-image: url('../images/portrait1.png');
		background-size: contain;
		background-repeat: no-repeat;
	}
	#imageFlip:hover {
		background-image: url('../images/portrait2.png');

	}


/* Parallax 
*******************/
.parallax-window {
    min-height: 400px;
    background: transparent;
    margin-bottom: -5em;
}

/* media queries built mobile first */

@media (max-width: 599px) {
	.statementText {
		padding-left: 1.875rem;
	}
}
@media (min-width: 600px) {
	#imageFlip{	
		width: 125px;
		height: 125px;
	}
}
@media (min-width: 735px) {
	#imageFlip{	
		width: 150px;
		height: 150px;
	}
}
@media (min-width: 830px) {
	.intro {
		text-align: justify;
		line-height: 2.5em;
		padding: .5em 2em .5em 2em;
		font-size: 3em;
		letter-spacing: 0.05em;
		margin-bottom: -1em;
	}
	#imageFlip{	
		width: 175px;
		height: 175px;
	}
}


